.page {
  margin-top: 5%;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.card-icon {
  height: 20px;
}

.red {
  color: red;
}

.green {
  color: green;
}

.bordered-icon {
  background-color: orange;
  border-radius: 50px;
}

.project-card {
  border-radius: 50px;
}

.value {
  text-align: center;
  align-self: center;
}

.support-arrow {
  position:fixed;
  bottom:1.5%;
  right:-1%; 
  padding: 1%;
}

.about {
  padding: 5%;
}